.process-section {
  padding-bottom: 40px;

  @include media(desktop) {
    padding-bottom: 96px;
  }
}

.process-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

.process-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;

  @include media(desktop) {
  }
}

.process-list-item {
  display: flex;
  align-items: center;
  gap: 20px;

  @include media(desktop) {
    gap: 52px;
  }
}

.science-icon {
  fill: none;
  stroke: #1c1c1c;

  @include media(desktop) {
    width: 48px;
    height: 48px;
  }
}

.process-item-text-wrapper {
}

.process-item-title {
  font-family: 'Libre Caslon Text', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #1c1c1c;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 24px;
  }
}

.process-item-text {
  font-family: 'Libre Caslon Text', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #1c1c1c;

  @include media(desktop) {
    font-size: 24px;
    max-width: 538px;
  }
}
