<section class="section clients-section" id="clients">
  <div class="clients-bg-wrapper">
    <div class="container clients-container">
      <h2 class="section-title clients-title">
        Tailored for Visionaries and Builders
      </h2>
      <p class="clients-text">
        We work with individuals and small teams who are building something
        meaningful:
      </p>
      <ul class="clients-list">
        <li class="clients-list-item">
          <svg class="light-bulb-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-light-bulb"></use>
          </svg>
          <p class="clients-item-text">
            Coaches and consultants seeking market clarity
          </p>
        </li>
        <li class="clients-list-item">
          <svg class="light-bulb-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-light-bulb"></use>
          </svg>
          <p class="clients-item-text">Creatives launching new ventures</p>
        </li>
        <li class="clients-list-item">
          <svg class="light-bulb-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-light-bulb"></use>
          </svg>
          <p class="clients-item-text">
            Solo-founders building personal brands
          </p>
        </li>
        <li class="clients-list-item">
          <svg class="light-bulb-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-light-bulb"></use>
          </svg>
          <p class="clients-item-text">
            Early-stage startups refining their identity
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
