<section class="section contact-section" id="contact">
  <div class="container contact-container">
    <h2 class="section-title contact-title">Let’s Get in Touch</h2>
    <div class="contact-content-wrapper">
      <div class="contact-text-wrapper">
        <p class="contact-text">
          Whether you're ready to begin or just want to ask a few questions,
          we’d love to hear from you.
        </p>
        <div class="contact-email-wrapper">
          <p class="contact-email-text">Email:</p>
          <a class="contact-email-link" href="mailto:info@claruno.pro"
            >info@claruno.pro</a
          >
        </div>
        <div class="contact-btn-wrapper">
          <a class="contact-btn" href="#home">Start Your Clarity Journey</a>
        </div>
      </div>
      <picture>
        <source
          srcset="./img/contact/contact-bg-desk.png"
          media="(min-width: 1440px)"
          width="762"
          height="495" />
        <source
          srcset="./img/contact/contact-bg-mob.png"
          width="338"
          height="219" />
        <img
          class="contact-img"
          src="./img/contact/contact-bg-mob.png"
          alt="Woman at work"
          width="338"
          height="219"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
