<footer class="footer" id="footer">
  <div class="footer-bg-wrapper">
    <div class="container footer-container">
      <div class="footer-content-wrapper">
        <div class="footer-logo-wrapper">
          <a class="footer-logo-link" href="./">
            <svg class="footer-logo-icon" width="203" height="41">
              <use href="./img/sprite.svg#icon-logo"></use>
            </svg>
          </a>
          <p class="footer-top-text">
            Claruno.pro is a registered Limited Liability Company
          </p>
        </div>
        <div class="footer-nav-wrapper">
          <nav class="footer-nav">
            <div class="footer-list">
              <div class="footer-list-item">
                <a
                  class="footer-link"
                  target="_blank"
                  href="policies.pdf#page=1"
                  >Privacy Policy</a
                >
              </div>
              <div class="footer-list-item">|</div>
              <div class="footer-list-item">
                <a
                  class="footer-link"
                  target="_blank"
                  href="policies.pdf#page=7"
                  >Terms & Conditions</a
                >
              </div>
              <div class="footer-list-item">|</div>
              <div class="footer-list-item">
                <a
                  class="footer-link"
                  target="_blank"
                  href="policies.pdf#page=11"
                  >Cookies Policy</a
                >
              </div>
            </div>
          </nav>
          <p class="footer-bottom-text">
            © 2025 Claruno.pro | All rights reserved
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
