<header class="header">
  <div class="header-bg-wrapper">
    <div class="container header-container">
      <nav class="nav">
        <a class="header-logo-link" href="./">
          <svg class="header-logo-icon" width="119" height="24">
            <use href="./img/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="nav-list">
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#about">About</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#services">Services</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#process">Process</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#pricing">Pricing</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#resources">Resources</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#contact">Contact</a>
          </li>
        </ul>
        <button class="nav-btn" type="button" aria-label="Open mobile menu">
          <svg class="menu-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-menu"></use>
          </svg>
        </button>
      </nav>
    </div>
  </div>
</header>
