<section class="section hero-section" id="home">
  <div class="hero-wrapper">
    <div class="container hero-container">
      <h1 class="hero-title">
        Gain Strategic Clarity.<br />
        Move with Purpose.
      </h1>
      <p class="hero-text">
        Claruno helps founders, creatives, and small teams define their
        direction and sharpen their brand, so they can grow confidently and
        sustainably.
      </p>
      <div class="hero-btn-wrapper">
        <a class="hero-btn" href="#contact">Book a Clarity Session</a>
      </div>
    </div>
  </div>
</section>
