<section class="section pricing-section" id="pricing">
  <div class="container pricing-container">
    <h2 class="section-title pricing-title">Our Core pricing</h2>
    <ul class="pricing-list">
      <li class="pricing-list-item">
        <div class="pricing-item-header">
          <p class="pricing-header-title">Clarity Starter</p>
          <p class="pricing-header-text">$190 one-time</p>
        </div>
        <div class="pricing-item-container">
          <div class="pricing-item-text-wrapper pricing-first-item">
            <svg class="check-icon" width="30" height="30">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="pricing-item-text">
              90-minute clarity session with action plan
            </p>
          </div>
          <a class="pricing-btn" href="#contact">Book Now</a>
        </div>
      </li>
      <li class="pricing-list-item">
        <div class="pricing-item-header">
          <p class="pricing-header-title">Strategic Sprint</p>
          <p class="pricing-header-text">$590</p>
        </div>
        <div class="pricing-item-container">
          <div class="pricing-item-list">
            <div class="pricing-item-text-wrapper">
              <svg class="check-icon" width="30" height="30">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-item-text">3-session package</p>
            </div>
            <div class="pricing-item-text-wrapper">
              <svg class="check-icon" width="30" height="30">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-item-text">follow-up notes</p>
            </div>
            <div class="pricing-item-text-wrapper">
              <svg class="check-icon" width="30" height="30">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-item-text">roadmap template</p>
            </div>
          </div>
          <a class="pricing-btn" href="#contact">Book Now</a>
        </div>
      </li>
      <li class="pricing-list-item">
        <div class="pricing-item-header">
          <p class="pricing-header-title">Ongoing Advisory</p>
          <p class="pricing-header-text">$320/month</p>
        </div>
        <div class="pricing-item-container">
          <div class="pricing-item-list">
            <div class="pricing-item-text-wrapper">
              <svg class="check-icon" width="30" height="30">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-item-text">Bi-weekly sessions</p>
            </div>
            <div class="pricing-item-text-wrapper">
              <svg class="check-icon" width="30" height="30">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-item-text">follow-up notes</p>
            </div>
            <div class="pricing-item-text-wrapper">
              <svg class="check-icon" width="30" height="30">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-item-text">email support</p>
            </div>
            <div class="pricing-item-text-wrapper">
              <svg class="check-icon" width="30" height="30">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-item-text">priority scheduling</p>
            </div>
          </div>
          <a class="pricing-btn" href="#contact">Book Now</a>
        </div>
      </li>
    </ul>
  </div>
</section>
