<section class="section process-section" id="process">
  <div class="container process-container">
    <h2 class="section-title process-title">How We Work</h2>
    <div class="process-content-wrapper">
      <ul class="process-list">
        <li class="process-list-item">
          <svg class="science-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-science"></use>
          </svg>
          <div class="process-item-text-wrapper">
            <h3 class="process-item-title">Discovery Call</h3>
            <p class="process-item-text">
              We explore your current challenges, goals, and context.
            </p>
          </div>
        </li>
        <li class="process-list-item">
          <svg class="science-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-science"></use>
          </svg>
          <div class="process-item-text-wrapper">
            <h3 class="process-item-title">Strategy Sprint</h3>
            <p class="process-item-text">
              We co-create a roadmap to move forward.
            </p>
          </div>
        </li>
        <li class="process-list-item">
          <svg class="science-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-science"></use>
          </svg>
          <div class="process-item-text-wrapper">
            <h3 class="process-item-title">Implementation Support</h3>
            <p class="process-item-text">
              Ongoing feedback and clarity sessions as needed.
            </p>
          </div>
        </li>
        <li class="process-list-item">
          <svg class="science-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-science"></use>
          </svg>
          <div class="process-item-text-wrapper">
            <h3 class="process-item-title">Check-in & Adjust</h3>
            <p class="process-item-text">
              Quarterly reviews and recalibration to stay aligned.
            </p>
          </div>
        </li>
      </ul>
      <picture>
        <source
          srcset="./img/process/process-bg-desk.png"
          media="(min-width: 1440px)"
          width="650"
          height="508" />
        <source
          srcset="./img/process/process-bg-mob.png"
          width="335"
          height="200" />
        <img
          class="process-img"
          src="./img/process/process-bg-mob.png"
          alt="Man pointing at desk"
          width="335"
          height="200"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
