<section class="section services-section" id="services">
  <div class="container services-container">
    <h2 class="section-title services-title">Our Core Services</h2>
    <ul class="services-list">
      <li class="services-list-item">
        <picture>
          <source
            srcset="./img/services/services-coaching-desk.png"
            media="(min-width: 1440px)"
            width="79"
            height="77" />
          <source
            srcset="./img/services/services-coaching-mob.png"
            width="50"
            height="50" />
          <img
            class="services-img"
            src="./img/services/services-coaching-mob.png"
            alt="Coaching"
            width="50"
            height="50"
            loading="lazy"
        /></picture>
        <h3 class="services-item-title">Clarity Coaching</h3>
        <p class="services-item-text">
          Personalized 1-on-1 strategy sessions to work through blocks,
          decisions, or direction.
        </p>
      </li>
      <li class="services-list-item">
        <picture>
          <source
            srcset="./img/services/services-structuring-desk.png"
            media="(min-width: 1440px)"
            width="75"
            height="75" />
          <source
            srcset="./img/services/services-structuring-mob.png"
            width="50"
            height="50" />
          <img
            class="services-img"
            src="./img/services/services-structuring-mob.png"
            alt="Light bulb"
            width="50"
            height="50"
            loading="lazy"
        /></picture>
        <h3 class="services-item-title">Goal Structuring</h3>
        <p class="services-item-text">
          Align your goals with your current capacity and long-term vision.
        </p>
      </li>
      <li class="services-list-item">
        <picture>
          <source
            srcset="./img/services/services-positioning-desk.png"
            media="(min-width: 1440px)"
            width="75"
            height="75" />
          <source
            srcset="./img/services/services-positioning-mob.png"
            width="50"
            height="50" />
          <img
            class="services-img"
            src="./img/services/services-positioning-mob.png"
            alt="Diagram"
            width="50"
            height="50"
            loading="lazy"
        /></picture>
        <h3 class="services-item-title">Brand Positioning</h3>
        <p class="services-item-text">
          Find your unique voice, define your niche, and stand out with
          confidence.
        </p>
      </li>
      <li class="services-list-item">
        <picture>
          <source
            srcset="./img/services/services-presentation-desk.png"
            media="(min-width: 1440px)"
            width="75"
            height="75" />
          <source
            srcset="./img/services/services-presentation-mob.png"
            width="50"
            height="50" />
          <img
            class="services-img"
            src="./img/services/services-presentation-mob.png"
            alt="Gear"
            width="50"
            height="50"
            loading="lazy"
        /></picture>
        <h3 class="services-item-title">Pitch & Presentation Refinement</h3>
        <p class="services-item-text">
          Perfect your offer and messaging for investors, clients, or your
          audience.
        </p>
      </li>
    </ul>
  </div>
</section>
